.App {
  text-align: center;
  background-image: url("img/background.jpg");
  background-size: contain;
  background-repeat: repeat-y;
  background-color: #1b2034;
}

.PlaySpace {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Node {
  cursor: pointer;
  color: white;
  user-select: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #00B1E1;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}

div.Menu{
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  padding: 8px;
  position:-webkit-sticky;
  position: sticky;
  top: 20px;
}

div.showNode {
  display: none;
}

.btn-primary{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color:white;
  background-color: #00B1E1;
  padding: 8px;
  margin-right: 100px;
  border-radius: 20%;
}

/*code adapted from https://www.w3schools.com/howto/howto_js_popup_form.asp*/

.form-popup {
  display: none;
  position: fixed;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 400px;
  padding: 10px;
  background-color: white;
  color: black;
}

.form-container input[type=text] {
  width: 75%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
