:root {
    --interfacesBarWidthPx: 100px;
    --canvasWidthVw: 100%;
    --canvasHeightVh: 100%;
    background: #1b2034;
}

.tab {
    margin-left: 20px;
}

.fixedBoxStyle {
    border: 1px #999 solid;
    border-radius: 10px;
    text-align: center;
    position: static;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
.fixedBoxStyle:hover {
    background: rgb(230, 230, 230);
}

.interfacesBarStyle {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: var(--interfacesBarWidthPx);
    border: solid black 1px;
}

.interfaceTitleStyle {
    font-size: 15px;
    color: black;
    position: absolute;
    margin-top: 5px;
    top: 0;
}

.nodesContainer {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.Menu{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    /*color:white;*/
    padding: 8px;
    position:-webkit-sticky;
    position: sticky;
    top: 40px;
}
.btn-primary{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color:white;
    background-color: #00B1E1;
    padding: 8px;
    margin-right: 100px;
    border-radius: 20%;
}

/*code adapted from https://www.w3schools.com/howto/howto_js_popup_form.asp*/
.info-popup {
    display: none;
    border: 3px solid #f1f1f1;
    border-radius: 5%;
    z-index: 9;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-130px;
    margin-top:-225px;
}

.info-container {
    max-width: 300px;
    border-radius: 4%;
    padding: 10px;
    background-color: white;
    color: black;
}

.form-popup {
    display: none;
    border: 3px solid #f1f1f1;
    border-radius: 5%;
    z-index: 9;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-175px;
    margin-top:-225px;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 4%;
}

.form-container input[type=text] {
    width: 75%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.canvasStyle {
    display: flex;
    position: relative;
    width: var(--canvasWidthVw);
    height: var(--canvasHeightVh);
    color: black;
    background-image: url("img/background.jpg");
    background-size: contain;
    background-repeat: repeat-y;
    background-color: #1b2034;
}

.toolboxMenu {
    width: 90px;
    height: 90px;
    background: transparent;
    text-align: center;
    position: fixed;
    right: 25px;
    bottom: 25px;
    padding: 5px;
    z-index: 8;
}

.node {
    border: 1px black solid;
    text-align: center;
    border-radius: 50%;
    background: #00B1E1;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.node {
    height: 50px;
}

.switchIcon {
    top: 0;
    width: 50px;
    height: 50px;
}

.iconContainer {
    background: white;
    border-color: #999;
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
